@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&family=Lato:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

* {
   padding: 0;
   margin: 0 ;
   box-sizing: border-box;
   font-family: 'Inter', sans-serif;
}

li {
    list-style-type: none;
    }

.click {
    cursor: pointer;   
    transition: all 300ms ease;
}

.click:hover {
    transform: scale(1.1);
}
    
.click:active {
    transform:scale(0.8) ;
}

.link__hover-effect {
    position: relative;
  }

.link__hover-effect:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    transition: all 300ms ease;
  }

  .link__hover-effect--black:after {
    background-color: #242424;
  }

  .link__hover-effect:hover:after {
    left: 0;
    width: 100%;
  }

  .row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

  /*
  
  NAVIGATION

  */

  .nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}
  

.nav__link--list {
    display: flex;
}

.nav__link {
margin: 0 12px;
}

.nav__link--anchor {
    text-decoration: none;
    font-size: 16px;
    color: #242424;
    font-weight: 700;
}

.nav__link--primary {
    background-color: rgb(243, 99, 10);
    color: white;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: all 300ms ease;
}


