@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&family=Lato:wght@400;700&family=Roboto:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

li {
  list-style-type: none;
}

.click {
  cursor: pointer;
  transition: all 300ms ease;
}

.click:hover {
  transform: scale(1.1);
}

.click:active {
  transform: scale(0.8);
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  transition: all 300ms ease;
 
}

.link__hover-effect--white:after {
  background-color: white;
  transition: all 300ms ease;
}



.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/*
  
  NAVIGATION

  */

.nav__container {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.nav__img {
  position: absolute;
  width: 100%;
  max-width: 100%;
  height: 300px;
  opacity: 0.9;
}

.logo__wrapper {
  display: flex;
  align-items: center;
  
}

.logo {
  height: 52px;
  width: 100px;
  z-index: 100;
  box-shadow: 0 12px 30px 0 rbg(0, 0, 0, 0.28);
  margin-left: 135px;
  margin-top: 28px;
  transition: all 300ms ease;
}

.logo:hover{
    transform: scale(1.1);
}



.nav__link--list {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-right: 150px;
  margin-top: 20px;
}

.nav__link {
  margin: 0 12px;
  font-weight: 600;
}

.nav__link:active{
    transform: scale(0.8);
}


.nav__link--anchor {
  text-decoration: none;
  font-size: 16px;
  color: white;
  font-weight: 700;
  background-color: rgb(0, 0, 0);
  border-radius: 50px;
  padding: 8px 20px;
  transition: all 300ms ease;
}

.nav__link--anchor:hover{
    background-color: rgb(109, 109, 109);
    color: white;
    
}


.btn-contact {
  background-color: #D1001C;
  color: white;
  padding: 8px 20px;
  border: 2px #FC0E34;
  border-radius: 50px;
  text-decoration: none;
  transition: all 300ms ease;
}

.btn-contact:hover {
  background-color: #FC0E34;
  color: white !important;
}

/*
  
  SEARCH

  */

.nav__description--title {
    font-size: 36px;
    margin-bottom: 10px;
    color: black ;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

input[type="text"] {
    position: relative;
    width: 100%;
    max-width: 250px;
    padding: 18px 192px 18px 32px;
    border-radius: 9999px;
    border: 2px solid #a0aec068;
}

input::placeholder {
    color: #87919e68;
    margin-right: -100px;
    z-index: 100;
  }

input:hover {
  border-color: #a0aec0;
}

.btn:hover {
    background-color:#FC0E34;
    cursor: pointer;
}

.header__btn--wrapper {
    position: relative;
    display: flex;
    align-items: end;
    margin-left: 110px;
   
}

.header__btn {
    margin-right: 8px ;
    position: absolute;
}

.btn {
    background-color:#D1001C;
    color: white;
    border-radius: 9999px;
    border: none;
    padding: 14px 24px;
    font-size: 16px;
    font-weight: 700;
    margin-right: 8px;
   margin-bottom: 3px;
 }
 
 
